@mixin button-color-style ($color){
    border: 1px solid $color !important;
    background-color: $color;
    color: white !important;
    &:hover, &:focus, &:active{
        color: white !important;
        background-color: darken($color, 10) !important;
        box-shadow: none !important;
    }
}