$color-red: #ad0000;
$main-color: $color-red;
$color-gray: #555;
$standard-color:$color-gray;
$color-white: #eee;
$background-color:$color-white;
$color-blue: #2da3e2;
$first-book-color: $color-blue;
$color-brown: #80401a;
$second-book-color: $color-brown;