#book{
    margin-top: 75px;
    padding: 40px;
    h1,h4{
        padding-bottom: 20px;
    }
    img{
        width: 400px;
    }
}
.colored1{
    color: $first-book-color !important;
}
.custom-btn-book1{
    @include button-color-style ($first-book-color);
}


#image-gallery {
    .modal-body{
        button#show-previous-image, button#show-next-image{
            position: absolute;
            z-index: 1;
            top: 50%;
        }
        button#show-previous-image{
            left: -15%;
        }
        button#show-next-image{
            right: -15%;
        }
    }
}
.thumb{
margin-top: 15px;
margin-bottom: 15px;
}

.img-thumbnail{
    height: 300px;
    width: 200px;
}

@media (max-width:992px) {
    #image-gallery{
        .modal-content{
            width: 80% !important;
        }
    }
}