$color-red: #ad0000;
$main-color: $color-red;
$color-gray: #555;
$standard-color:$color-gray;
$color-white: #eee;
$background-color:$color-white;

@font-face {
    font-family: Almarai-ar;
    src: url(../fonts/Almarai-Regular.ttf);
}
body{
    font-family: Almarai-ar, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container-fluid{
    padding: 0;
    overflow: hidden;
}
input, textarea{
    text-align: right !important;
    &:hover,&:active,&:focus{
        box-shadow: 0 0 5px 0 $main-color !important;
        border: none;
    }
}
#top-menu{
    .navbar{
        min-width: 100%;
        background-color: #fff;
        box-shadow: 0 0 5px 0 $standard-color;
        padding: 0 ;
        .navbar-brand{
            color: black;
            font-size: 35px;
            img{
                width: 65px;
                margin-left: 10px;
                margin-right: 25px;
            }
        }
        .nav-item{
                margin: 0 30px;
            .nav-link{
                color: $standard-color;
                font-size: 18px;
                border-bottom: 1px solid transparent;
                padding: 10px;
                &:hover, &:focus , &:active, .active{
                    color: $main-color;
                    border-bottom: 1px solid $main-color;
                    background-color: $background-color;
                }
            }
        }
    }
}
.custom-btn{
    font-size: 18px;
    color: $main-color;
    border: 1px solid $main-color;
    border-radius: 3px;
    padding: 5px 10px;
    text-align: center;
    &:hover{
        color: $main-color;
        background-color: $background-color;
    }
}
.custom-link{
    color: $standard-color;
    &:hover,&:focus,&:active{
        text-decoration: none;
        color: $main-color;
    }
}
#search{
    background-color: rgba($main-color, 0.2);
    padding: 50px;
    margin-top: 75px;
    .custom-search{
        .search-input{
            background-color: transparent;
            width: 35%;
            border: none;
            border-bottom: 1px solid $main-color;
            border-radius: 0;
        }
        .btn-search{
            position: absolute;
            left: 34%;
            color: $main-color;
        }
    }
}
#about-us{
    padding: 40px;
    .about-us-text{
        width: 70%;
        padding-bottom: 30px;
        border-bottom: 1px solid $background-color;
    }
}
.title{
    color: $main-color;
    padding-bottom: 40px;
}
#our-books{
    .card{
        img{
            width: 90%;
            margin: 5% auto;
        }
        .card-body{
            .card-title{
                font-weight: bold;
            }
            .card-text {
                word-break: break-word;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                font-size: 16px;
                line-height: 20px;
                max-height: 40px;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
            .rating{
                color: #c2c2c2;
                .active{
                    color: #f3af41;
                }
            }
        }
    }
}
#contact-us{
    padding-top:40px;
    #contact{
        padding-top: 40px;
        padding-bottom: 40px;
        #contact-info{
            ul{
                li{
                    padding-bottom: 20px;
                    .icon{
                        color: $main-color;
                        margin-left: 5px;
                    }
                }
            }
        }
        form#send-message{
            .form-group{
                .custom-textarea{
                    height: 150px;
                }
            }
        }
    }
}

footer{
    background-color: $standard-color;
    padding: 50px;
    p{
        color: #fff;
    }
}
@media(max-width:992px){
    #top-menu{
        .navbar{
            .nav-item{
                margin: 0 !important;
                .nav-link{
                    padding-right: 30px;
                }
            }
        }
    }
    #search{
        .custom-search{
            .search-input{
                width: 60%;
            }
            .btn-search{
                position: absolute;
                left: 25%;
            }
        }
    }
    #contact{
        padding-right: 40px;
        padding-left: 40px;
    }
}